@import 'assets/scss/_variables.scss';
@import 'assets/scss/_mixin.scss';

/* button */
.btn- {
	@each $color, $value in $theme-colors {
		&#{$color} {
			@include buttonType ($value, $value);
			&-outline {
				@include buttonType ($value, $white, $value);
			}
		}
	}
	
	// height
	&m {height:30px;}
	&l {height:50px; font-size:16px;}
	&xl {height:60px; font-size:16px;}
	&block {width:100%;}

	// width
	&w- {
		&110 {width:110px;}
		&130 {width:130px;}
		&140 {width:140px;}
		&150 {width:150px;}
		&180 {width:180px;}
		&200 {width:200px;}
		&220 {width:220px;}
		&290 {width:290px;}
	}

	// btn group
	&area- {
		&l, &c, &r, &wrap {
			display:flex;
			align-items:center;
			[class^="btn-"] {
				& + [class^="btn-"] {
					margin-left:10px;
				}
			}
		}
		&wrap {justify-content:space-between;}
		&l {justify-content:flex-start;}
		&c {justify-content:center;}
		&r {justify-content:flex-end;}
	}
}