@import 'assets/scss/_variables.scss';
@import 'assets/scss/_mixin.scss';

/* header */
#header {
	position:relative;
	display:flex;
	justify-content:space-between;
	width:$min-content-w;
	height:140px;
	margin:0 auto;
	padding-top:60px;
	flex-shrink:0;
	z-index:7;
	.logo {
		flex:1;
		a {
			display:inline-block;
			color:$dark;
			font-size:30px;
			font-weight:$font-bold;
			letter-spacing:-1.5px;
			em {
				font-size:24px;
				font-weight:$font-light;
			}
		}
	}
	.gnb {
		display:flex;
		> li {
			position:relative;
			> a {
				display:block;
				padding:0 40px;
				color:$dark;
				font-size:20px;
				font-weight:$font-medium;
				line-height:60px;
				letter-spacing:-1px;
			}
			.step {
				overflow:hidden;
				position:absolute;
				left:0;
				top:81px;
				width:100%;
				z-index:2;
			}
			ul {
				padding:12px 0;
				background:#fbfbfb;
				@include slideAnimate(0, -1000px, .4s, cubic-bezier(1, 0, 1, 1));
				li {
					a {
						display:block;
						color:$dark;
						font-size:16px;
						line-height:50px;
						text-align:center;
					}
				}
			}
			.balloon-box {
				display:none;
				position:absolute;
				left:50%;
				top:60px;
				padding:20px 50px 20px 40px;
				background:rgba(23, 175, 152, .9);
				border-radius:20px;
				color:$white;
				white-space:nowrap;
				transform: translateX(-50%);
				z-index:7;
				&:before {
					content:'';
					position:absolute;
					top:-10px;
					left:50%;
					margin-left:-5px;
					border-left:5px solid transparent;
					border-right:5px solid transparent;
					border-bottom:10px solid rgba(23, 175, 152, .9);
				}
				div a {
					color:#fffa76;
					text-decoration:underline;
				}
				.close {
					position:absolute;
					right:20px;
					top:22px;
					width:15px;
					height:15px;
					background-image:url(''+$url-common+'icon_close.png');
					@include commonBgImg();
				}
			}
		}
		.selected > a {
			color:$secondary;
		}
	}
	.btn-gnb {
		position:relative;
		width:40px;
		height:40px;
		margin:10px 0 0 20px;
		border:1px solid $line-e0;
		background:$white;
		font-size:0;
		transition: all .3s;
		&:before,
		&:after {
			content:'';
			transition: all .3s;
		}
		span,
		&:before,
		&:after {
			display:block;
			width:20px;
			height:2px;
			margin:2px auto;
			background:$dark;
		}
	}
	.user-box {
		position:absolute;
		top:30px;
		right:0;
		line-height:28px;
		span strong {
			color:$dark;
			font-weight:$font-medium;
		}
		.log-in-out {
			position:relative;
			display:inline-block;
			margin-left:18px;
			padding-left:20px;
		}
		.log-in-out:before {
			content:'';
			position:absolute;
			left:0;
			top:50%;
			width:2px;
			height:2px;
			margin-top:-1px;
			background-color:$dark;
		}
	}
	&.selected {
		& ~ #container:after,
		.gnb ul {
			@include slideAnimate(600px, 0, .3s, cubic-bezier(0, 0, 0, 1));
		}
		.btn-gnb {
			background-color:$dark;
			&:before {
				width:25px;
				margin-bottom:-1px;
				background-color:$white;
				transform:rotate(222deg);
			}
			&:after {
				width:25px;
				margin-top:-2px;
				background-color:$white;
				transform:rotate(-222deg);
			}
			span {
				display:none;
			}
		}
	}
}